body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.header{
    padding: 20px;
    height: 250px;
    background-color: lightblue
}

.main{
    padding: 20px;
    background-color: gray;
    text-align: center;
    color: darkslategray
}

.footer{
    padding: 5px;
    background-color: darkslategrey;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card {
    background-color: #8bd3db;
    width: 30%;
    height: 150px;
    border-radius: 8px;
}